html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#canvas {
    background-color: rgb(0, 0, 0);
}

#sun {
    position: absolute;
}

#mercury {
    position: absolute;
}

#venus {
    position: absolute;
}

#earth {
    position: absolute;
}

#moon {
    position: absolute;
}

#mars {
    position: absolute;
}

#jupiter {
    position: absolute;
}

#saturn {
    position: absolute;
}

#uranus {
    position: absolute;
}

#neptune {
    position: absolute;
}

#pluto {
    position: absolute;
}